body{
    margin: 0;
    color: rgb(48, 48, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(121, 195, 230);
    display: flex;
    justify-content: center;
}

.container{
    width: 60%;
    min-height: calc(100vh - 80px);
}

header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

img{
    margin-top: 30px;
    max-width: 400px;
    max-height: 240px;
}

ul{
    padding-left: 20px;
}

ul>li{
    font-weight: 600;
}

h2{
    margin-bottom: 0;
}

main{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    text-align: start;
    color: rgb(20, 20, 20);
}

.title{
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: large;
}

.subtitle{
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.underscore{
    color: rgb(247, 201, 74);
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


footer{
    height: 80px;
    background-color: grey;
}